@page "/"

<h1 class="tt-spacing">Hello, world.</h1>

<h3 class="tt-spacing">Welcome to Terminal Hacker.</h3>
<p class="tt-spacing">Concept based on the hacking minigame within the Fallout series of videogames.</p>
<p class="tt-spacing">Software design based off of a console application version created by <a href="https://abramepithey.github.io" target="_blank" class="terminal-link">myself</a> and <a href="https://www.linkedin.com/in/todd-newland/" target="_blank" class="terminal-link">Todd Newland</a>.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
